<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Team Nombre_Team - Acerca de</title>
</head>
<body>
    <header>

        <div class="navegacion">
            <div class="logo">
                <img src="img/piton.png" alt="logo">
            </div>
    
            <div class="menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="acercade.html">Acerca de</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </div>
    </header>


    <div class="cuerpo-contenido">
        <div class="contenido-acerca">
            
            <div class="tarjeta">

                <div class="tarjeta-foto">
                    <img src="./img/empresario.png" alt="">
                </div>

                <div class="tarjeta-descr">
                    <h3>Facundo Alfaro</h3>
                    <h4>Ingeniería Informática</h4>
                    <p>Ver Netflix, programar de noche, #TeamInvierno</p>
                </div>

            </div>

            <div class="tarjeta">

                <div class="tarjeta-foto">
                    <img src="./img/mujer.png" alt="">
                </div>

                <div class="tarjeta-descr">
                    <h3>Noemi Luna</h3>
                    <h4>Ingeniería Informática</h4>
                    <p>Ver Netflix, Programar de noche, #TeamInvierno</p>
                </div>

            </div>

        </div>

        <div class="video-descr">
            <iframe width="956" height="538" src="https://www.youtube.com/embed/jjFRruzS4Yw" title="Para dominar django, primero debes saber estos temas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>


    <footer>
        <div class="contactos">
            <p>Email: hola@gmail.com | Telefono: +543844321 | Linkedin: perfilHola.com</p>
        </div>
    </footer>
</body>
</html>