<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilos_contactos.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <title>Contacto</title>
</head>
<body>
    <header>

        <div class="navegacion">
            <div class="logo">
                <img src="img/piton.png" alt="logo">
            </div>
    
            <div class="menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="acercade.html">Acerca de</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </div>
    </header>


    <div class="cuerpo-contenido formulario">
        <div class="contenido">
           <form>
            <p>Registro de contactos</p>
                <label for="contacto">Nombre</label>
                <input type="text"  name="nombre" class="form-control" placeholder="Nombre*" required><br>
                <label for="direccion">Direccion</label>
                <input type="text"  nae="direccion" class="form-control" placeholder="Direccion"><br>
                <label for="ciudad">Ciudad</label>
                <input type="text"  name="contacto" class="form-control" placeholder="Ciudad"><br>
                <lebel form=pais>País</lebel><br>
                <select name="pais" id="pais" class="form-control">
                    <option value="Argentina">Argentina</option>
                    <option value="Brasil">Brasil</option>
                    <option value="Uruguay">Uruguay</option>
                    <option value="Paraguay">Paraguay</option>
                    <option value="Bolivia">Bolivia</option>
                </select><br>
                <lebel form="telefono">Numero de Telefono</lebel><br>
                <input type="tel" id="telefono" name="Telefono" class="form-control" placeholder="Ejemplo +13004005000"><br>
                <input type="email" name="email" class="form-control"  placeholder="Correo electronico*" required><br>
                <p><span class="error" id="required">(*)  Campo Obligatorio.</span></p>
                <div>
                    <textarea name="message" rows="5" cols="30" class="form-control" placeholder="Mensaje" id="area-de-texto"></textarea><br>
                    <input type="submit" value="Enviar mensaje" class="btn btn-success">
                </div>    
           </form>
        </div>
    </div>


    <footer>
        <div class="contactos">
            <p>Email: hola@gmail.com | Telefono: +543844321 | Linkedin: perfilHola.com</p>
        </div>
    </footer>
</body>
</html>