<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Team Nombre_Team</title>
</head>
<body>
    <header>

        <div class="navegacion">
            <div class="logo">
                <img src="img/piton.png" alt="logo">
            </div>
    
            <div class="menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="acercade.html">Acerca de</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </div>
    </header>


    <div class="cuerpo-contenido">
        <div class="contenido">
            <h1>nombre del TEAM</h1>
            <br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet amet, error nostrum voluptate perspiciatis dolores consectetur? Nostrum, laborum. Minima ipsa ducimus culpa odio eum architecto debitis nostrum doloremque in illo.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto praesentium hic sit nulla ipsum obcaecati esse, quod expedita itaque voluptas modi quasi dolorum ea officia tempora, quam aliquid alias iste. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit explicabo, molestiae repudiandae deserunt iste ab natus veniam voluptatibus magnam. Maxime obcaecati dolorum ex illum cum! Temporibus ipsum praesentium consequatur rem!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo odit nam id assumenda alias, ducimus sapiente accusamus et inventore consectetur tenetur eaque! Quae, nihil illum facilis dolor sed qui dolores? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti beatae, explicabo impedit alias quaerat pariatur omnis magni fuga consequatur doloribus, ab delectus rerum? Dolor tenetur, sed iure ullam amet delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam molestiae quasi soluta aut aspernatur! Atque sequi nemo exercitationem soluta repudiandae debitis porro laborum, obcaecati nisi expedita, repellendus hic quidem voluptates!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, non, adipisci eligendi tenetur repellat labore facilis expedita nemo soluta sequi facere necessitatibus eos, ipsa alias accusantium tempora! Voluptatibus, sequi a?</p>
        </div>

    </div>


    <footer>
        <div class="contactos">
            <p>Email: hola@gmail.com | Telefono: +543844321 | Linkedin: perfilHola.com</p>
        </div>
    </footer>
    
</body>