@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Estilos de header */

header {
    background-color: #37193b;
}

.navegacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 4%;
}

.menu {
    display: flex;
    min-width: 25%;
}

.menu ul {
    list-style: none;
    display: flex;
    width: 100%;
    margin: 5%;
    justify-content: space-around;
}

.menu ul li {
    display: inline;
    margin: 1%;
    padding: 1%;
}

.menu ul li a {
    text-decoration: none;
    font-size: 1.4em;
    color: #f5c273;
}

.logo {
    width: 7%;
}

.logo img {
    width: 100%;
}


/* Estilos del footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    background-color: #37193b;
}

.contactos{
    padding: 2%;
    width: 100%;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    background-color: #491f4f;
    color: #aeb395;
}


/* Estilos del cuerpo contenido del index */
.cuerpo-contenido {
    min-height: 100vh;
}

.contenido {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    height: 100%;
    padding: 5%;
    font-size: 1.2em;
    text-align: justify;
}

.contenido p {
    padding-top: 2%;
}


/* Estilos para la presentacion del equipo */
.contenido-acerca {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta {
    display: flex;
    margin: 3%;
    padding: 1%;
    border: 2px solid rgb(10, 5, 80);
    flex-direction: column;
    align-items: center;
    
}

.tarjeta-foto {
    width: 40%;
}

.tarjeta-foto img {
    width: 100%;
    background-color: #491f4f;
}

.tarjeta-descr {
    text-align: center;
    margin-top: 5%;
    line-height: 250%;
}

.video-descr {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}